In [3]:
import pandas as pd
data = {
    'text': [
        'Natural language processing is fascinating',
        'Text data wrangling is an important step',
        'Data augmentation techniques are used in NLP',
        'NLP helps in analyzing and processing text data'
    ]
}

# Create a dataframe
df = pd.DataFrame(data)
df.head()

                                              text
0       Natural language processing is fascinating
1         Text data wrangling is an important step
2     Data augmentation techniques are used in NLP
3  NLP helps in analyzing and processing text data

# Bag of words

In [1]:

'''  

'''
from sklearn.feature_extraction.text import CountVectorizer # use this library for the bag of words


'''  
Disadvantages:
1. sparcity
2. out of vocablary problem
3. not follow the ordering
'''

# N-grams

In [2]:
'''  
can be implemented using the 'ngram_range=(1, 1)' parameter in the sklaen lib
(1,1) -> each word is the vocablary
(2,2) -> two words will be taken
(1,3) -> it will be the combination of 1 word, 2 word and 3 words

'''

'''  
Advantage:
1. Able to capture semantic meaning using n-gram

DisAdvantage:

'''

"  \ncan be implemented using the 'ngram_range=(1, 1)' parameter in the sklaen lib\n(1,1) -> each word is the vocablary\n(2,2) -> two words will be taken\n(1,3) -> it will be the combination of 1 word, 2 word and 3 words\n"

# Tf-idf

In [10]:
'''  
If a word is present in the sentance but not present or rearly present in the corpous then it will give more waiteage to that senatce as it is a unique word and 
and i contribute more in the meaning of the sentance

'''


'''  
Tf(Term frequancy) : It mean that the total no of time that word accure in the entire corpous 
-> if tf value is higher then it accure frequently in the corpous
-> it represt the importance of particular term for that paricular document/row
formula:

idf : 
->if the term is frequent in the corpous then the idf value will be lower and vice-vers 
-> it determines the importance of the 
'''

'  \nTf(Term frequancy) : It mean that the total no of time that word accure in the entire corpous \n-> if tf value is higher then it accure frequently in the corpous\nformula:\n\nidf : \n->if the term is frequent in the corpous then the idf value will be lower and vice-vers \n'

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer

tf = TfidfVectorizer()
tf.fit_transform(df['text']).toarray()[0]

array([0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.48546061, 0.        , 0.        , 0.        ,
       0.38274272, 0.48546061, 0.48546061, 0.        , 0.38274272,
       0.        , 0.        , 0.        , 0.        , 0.        ])

In [9]:
tf.idf_

array([1.91629073, 1.91629073, 1.91629073, 1.91629073, 1.91629073,
       1.22314355, 1.91629073, 1.91629073, 1.91629073, 1.51082562,
       1.51082562, 1.91629073, 1.91629073, 1.51082562, 1.51082562,
       1.91629073, 1.91629073, 1.51082562, 1.91629073, 1.91629073])

In [11]:
tf.get_feature_names_out()

array(['an', 'analyzing', 'and', 'are', 'augmentation', 'data',
       'fascinating', 'helps', 'important', 'in', 'is', 'language',
       'natural', 'nlp', 'processing', 'step', 'techniques', 'text',
       'used', 'wrangling'], dtype=object)

# Practice Question

In [13]:
df = pd.read_csv("IMDB Dataset.csv")
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [14]:
# Apply all the preprocessing technique that are required

#lower case
def lower(text):
    return text.lower()

In [17]:
df['review'] = df['review'].apply(lower)
df['review'].head()

0    one of the other reviewers has mentioned that ...
1    a wonderful little production. <br /><br />the...
2    i thought this was a wonderful way to spend ti...
3    basically there's a family where a little boy ...
4    petter mattei's "love in the time of money" is...
Name: review, dtype: object

In [40]:
# remove all the tags
import re
def remove_tags(text):
    
    clean = re.compile(r'<[^>]+>')
    return re.sub(clean, '',text)

In [41]:
df['review'] = df['review'].apply(remove_tags)
df.head()

                                              review sentiment
0  one of the other reviewers has mentioned that ...  positive
1  a wonderful little production. the filming tec...  positive
2  i thought this was a wonderful way to spend ti...  positive
3  basically there's a family where a little boy ...  negative
4  petter mattei's "love in the time of money" is...  positive

In [42]:
# Remove stop word
from nltk.corpus import stopwords
s_words = stopwords.words('english')
def remove_stopwords(text):
    new_text = []
    for char in text.split():
        if char not in s_words:
            new_text.append(char)

    return " ".join(new_text)

In [47]:
df['review'] = df['review'].apply(remove_stopwords)
df.head()

                                              review sentiment
0  one reviewers mentioned watching 1 oz episode ...  positive
1  wonderful little production. filming technique...  positive
2  thought wonderful way spend time hot summer we...  positive
3  basically there's family little boy (jake) thi...  negative
4  petter mattei's "love time money" visually stu...  positive

In [51]:
# remove puncutation
import string
pun = string.punctuation
def remove_punctuation(text):
    return text.translate(str.maketrans('','',pun))

df['review'] = df['review'].apply(remove_punctuation)
df.head()

                                              review sentiment
0  one reviewers mentioned watching 1 oz episode ...  positive
1  wonderful little production filming technique ...  positive
2  thought wonderful way spend time hot summer we...  positive
3  basically theres family little boy jake thinks...  negative
4  petter matteis love time money visually stunni...  positive

In [52]:
# remove the short hand
## chat word treatment -> Removing the shorcut word with there actual meaning

slang_dict = {
    "AFAIK": "As Far As I Know",
    "AFK": "Away From Keyboard",
    "ASAP": "As Soon As Possible",
    "ATK": "At The Keyboard",
    "ATM": "At The Moment",
    "A3": "Anytime, Anywhere, Anyplace",
    "BAK": "Back At Keyboard",
    "BBL": "Be Back Later",
    "BBS": "Be Back Soon",
    "BFN": "Bye For Now",
    "B4N": "Bye For Now",
    "BRB": "Be Right Back",
    "BRT": "Be Right There",
    "BTW": "By The Way",
    "B4": "Before",
    "B4N": "Bye For Now",
    "CU": "See You",
    "CUL8R": "See You Later",
    "CYA": "See You",
    "FAQ": "Frequently Asked Questions",
    "FC": "Fingers Crossed",
    "FWIW": "For What It's Worth",
    "FYI": "For Your Information",
    "GAL": "Get A Life",
    "GG": "Good Game",
    "GN": "Good Night",
    "GMTA": "Great Minds Think Alike",
    "GR8": "Great!",
    "G9": "Genius",
    "IC": "I See",
    "ICQ": "I Seek you (also a chat program)",
    "ILU": "ILU: I Love You",
    "IMHO": "In My Honest/Humble Opinion",
    "IMO": "In My Opinion",
    "IOW": "In Other Words",
    "IRL": "In Real Life",
    "KISS": "Keep It Simple, Stupid",
    "LDR": "Long Distance Relationship",
    "LMAO": "Laugh My A.. Off",
    "LOL": "Laughing Out Loud",
    "LTNS": "Long Time No See",
    "L8R": "Later",
    "MTE": "My Thoughts Exactly",
    "M8": "Mate",
    "NRN": "No Reply Necessary",
    "OIC": "Oh I See",
    "PITA": "Pain In The A..",
    "PRT": "Party",
    "PRW": "Parents Are Watching",
    "QPSA": "Que Pasa?",
    "ROFL": "Rolling On The Floor Laughing",
    "ROFLOL": "Rolling On The Floor Laughing Out Loud",
    "ROTFLMAO": "Rolling On The Floor Laughing My A.. Off",
    "SK8": "Skate",
    "STATS": "Your sex and age",
    "ASL": "Age, Sex, Location",
    "THX": "Thank You",
    "TTFN": "Ta-Ta For Now!",
    "TTYL": "Talk To You Later",
    "U": "You",
    "U2": "You Too",
    "U4E": "Yours For Ever",
    "WB": "Welcome Back",
    "WTF": "What The F...",
    "WTG": "Way To Go!",
    "WUF": "Where Are You From?",
    "W8": "Wait...",
    "7K": "Sick:-D Laugher",
    "TFW": "That feeling when",
    "MFW": "My face when",
    "MRW": "My reaction when",
    "IFYP": "I feel your pain",
    "LOL": "Laughing out loud",
    "TNTL": "Trying not to laugh",
    "JK": "Just kidding",
    "IDC": "I don’t care",
    "ILY": "I love you",
    "IMU": "I miss you",
    "ADIH": "Another day in hell",
    "IDC": "I don’t care",
    "ZZZ": "Sleeping, bored, tired",
    "WYWH": "Wish you were here",
    "TIME": "Tears in my eyes",
    "BAE": "Before anyone else",
    "FIMH": "Forever in my heart",
    "BSAAW": "Big smile and a wink",
    "BWL": "Bursting with laughter",
    "LMAO": "Laughing my a** off",
    "BFF": "Best friends forever",
    "CSL": "Can’t stop laughing",
}

In [61]:
def chat_conversion(text):
    new_text = []
    slang_dict
    for char in text.split():
        if char.upper() in slang_dict:
            new_text.append(slang_dict[char.upper()])
        else:
            new_text.append(char)

    return " ".join(new_text)
        
df['review'] = df['review'].apply(chat_conversion)
df.head()

                                              review sentiment
0  one reviewers mentioned watching 1 oz episode ...  positive
1  wonderful little production filming technique ...  positive
2  thought wonderful way spend Tears in my eyes h...  positive
3  basically theres family little boy jake thinks...  negative
4  petter matteis love Tears in my eyes money vis...  positive