Q1. Create a python program to sort the given list of tuples based on integer value using a 
lambda function. 


[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [1]:
l=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using 
lambda and map functions.


[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [36]:
#using lambda funtion
ans=[]
for i in l:
    sq = lambda i: i**2
    ans.append(sq(i))

print(ans)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [37]:
#using map function

def sq(a):
    return a**2

In [43]:
list(map(sq,l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and 
lambda functions


Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [44]:
l =[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [54]:
ans=[]
for i in l:
    s = lambda i:str(i)
    ans.append(s(i))
    

print(ans)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [55]:
#using map function

def s(l):
    return str(l)

In [57]:
list(map(s,l))

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

Q4.  Write a python program using reduce function to compute the product of a list containing numbers 
from 1 to 25.

In [63]:
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

In [60]:
from functools import reduce

In [65]:
def fun(a,b):
    return a*b

In [66]:
reduce(fun,l)

15511210043330985984000000

Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the 
filter function.


[2, 3, 6, 9, 27, 60, 90, 120, 55, 46

In [72]:


l=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]


f = lambda a: a%2==0 and a%3==0

In [73]:
list(filter(f,l))

[6, 60, 90, 120]

Q6. Write a python program to find palindromes in the given list of strings using lambda and filter 
function.


['python', 'php', 'aba', 'radar', 'level']

In [74]:


l=['python', 'php', 'aba', 'radar', 'level']

In [103]:

for i in l:
    p= lambda i : i == i[::-1]

In [105]:
list(filter(p,l))

['php', 'aba', 'radar', 'level']