In [1]:
import pandas as pd

Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [9]:

data=[4, 8, 15, 16, 23,  42]
df= pd.DataFrame(data ,columns=['Data'])

In [10]:
df

   Data
0     4
1     8
2    15
3    16
4    23
5    42

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the 
variable print it.

In [14]:
lst = [1,2,3,4,5,6,7,8,9,10]

In [16]:
df = pd.Series(lst)

In [17]:
df

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

In [18]:
data = {'Name':['Alice','Bob','Claire'],
        'Age':[25,30,27],
        'Gender':['Female','Male','Female']
        }

In [19]:
df = pd.DataFrame(data)

In [20]:
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Ans:DataFrame is a 2-dimensional labeled data structure that can store data of different types in columns, similar to a table in a relational database or a spreadsheet. It consists of rows and columns where each column can have a different data type such as int, float, string, etc. A pandas.Series, on the other hand, is a one-dimensional labeled array that can hold data of any type, such as int, float, string, etc

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Ans :In Pandas, both Series and DataFrame are mutable in nature, while Panel is considered deprecated 
     and has been replaced by multi-dimensional arrays, such as numpy.ndarray or xarray.DataArray, 
     which are also mutable.


Q7. Create a DataFrame using multiple Series. Explain with an example.

In [29]:
s1=pd.Series([1,2,3,4,5])
s2=pd.Series([6,7,8,9,10])
s3=pd.Series([11,12,13,14,15])

df = pd.DataFrame([s1,s2,s3])

In [30]:
df

    0   1   2   3   4
0   1   2   3   4   5
1   6   7   8   9  10
2  11  12  13  14  15