In [1]:
import pandas as pd

In [2]:
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [3]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [16]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

Ans:- loc:loc is label-based, which means that it uses labels or indices to select data. It can be used to select rows and columns by label, boolean indexing, or a callable function.

iloc:iloc is integer-based, which means that it uses integer positions to select data. It can be used to select rows and columns by integer position or a boolean array.

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

In [18]:
new_df=df.reindex([3,0,1,2])

In [20]:
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [21]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [22]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [ ]:
import pandas as pd
import numpy as np

In [70]:
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [71]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.918292  0.319850  0.720196  0.912890  0.863094  0.069286
2  0.979507  0.336779  0.891227  0.977781  0.101422  0.600943
3  0.612230  0.839380  0.902095  0.313648  0.701475  0.529960
4  0.695716  0.279462  0.799581  0.599896  0.022129  0.264609
5  0.771542  0.628156  0.414496  0.070528  0.709188  0.211837
6  0.284728  0.787719  0.777599  0.646208  0.566900  0.615047

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [76]:
df1.mean()

column_1    0.710336
column_2    0.531891
column_3    0.750866
column_4    0.586825
column_5    0.494035
column_6    0.381947
dtype: float64

In [81]:
df1['column_2'].std()

0.25140187450205403

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [83]:
df1

1    0.319850
2    0.336779
3    0.839380
4    0.279462
5    0.628156
6    0.787719
Name: column_2, dtype: float64

In [84]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.918292  0.319850  0.720196  0.912890  0.863094  0.069286
2  0.979507  0.336779  0.891227  0.977781  0.101422  0.600943
3  0.612230  0.839380  0.902095  0.313648  0.701475  0.529960
4  0.695716  0.279462  0.799581  0.599896  0.022129  0.264609
5  0.771542  0.628156  0.414496  0.070528  0.709188  0.211837
6  0.284728  0.787719  0.777599  0.646208  0.566900  0.615047

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

Ans:In Pandas, a window function is a way to perform a calculation over a sliding window of data. It is a way to calculate rolling or moving statistics of a time series or other data that is ordered by a particular column.

Window functions are implemented using the rolling and expanding methods in Pandas. The rolling method is used for rolling window operations, where a window of a fixed size is moved across the data. The expanding method is used for expanding window operations, where the window grows with the size of the data.

Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [37]:
import datetime

In [52]:
now=datetime.datetime.now()

In [54]:
date= now.date()
print(date)

2023-03-18

In [55]:
time = now.time()
print(time)

19:38:24.033260

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.
Did you observe any difference in both the outputs? If so then explain it.
Consider the below code to answer further questions:

In [104]:
day1=input('Enter the date (in the format YYYY-MM-DD)')
day2=input('Enter the date (in the format YYYY-MM-DD)')
date1= pd.to_datetime(day1)
date2=pd.to_datetime(day2)
result = date1-date2
print('The differance between two date is {}'.format(result))

The differance between two date is 7238 days 00:00:00

In [103]:
start_date = input("Enter first date: ")
end_date = input("Enter second date: ")

days_in_between = pd.date_range(start = start_date, end = end_date)
difference = len(days_in_between)

print(f'The difference between the first date and second date is {difference} days')

The difference between the first date and second date is 0 days

In [85]:
print(date-time)

2022-04-15 21:15:00

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [87]:
file = input('Enter the file name')

df=pd.read_csv(file)

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.

In [92]:
mean=df['mark'].mean()

In [93]:
median=df['mark'].median()

In [94]:
mode=df['mark'].mode()

In [95]:
print("+----------+----------+")
print("Statistic | Value")
print(f"Mean:    {mean}")
print(f"Median:    {median}")
print(f"Mode:    {mode}")
print("+----------+----------+")

+----------+----------+
Statistic | Value
Mean:    74.65714285714286
Median:    79.0
Mode:    0    88
Name: mark, dtype: int64
+----------+----------+